        </div>
      </div>
      <div class="container">
        <div class="footer">
          <div class="text">&middot; <a href="<%= unsubscribe %>" class="link">Unsubscribe</a></div>
        </div>
      </div>
    </td>
  </tr>
</table>
</body>
</html>