<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="style.css" rel="stylesheet" type="text/css" data-inline>
</head>
<body class="body">
<table class="main">
  <tr>
    <td>
      <div class="header">
        <div class="container">
          <h1>
            <a href="<%= website %>"><img src="" width="45px" height="45px" alt="Basset"></a>
          </h1>
        </div>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="container">
        <div class="inner">