/*/node_modules
/*/yarn-error.log
/*/npm-error.log
/*/coverages
__pycache__/
*.pyc
.idea
.docker
.venv
/img/*
/*/.docker
/renderer/chromedriver
/renderer/geckodriver
/renderer/.build
/snapshot/*
/pillow/*
.envrc
.autoenv
test-settings.js
chromedriver*
geckodriver*
/**/dist
*.base
.vscode
*.zip