<% include ../header %>
    <h3>You've been invited to join Basset</h3>
    <div class="text">Your team members have been using basset to test visual regressions.</div>
    <a href="<%= link %>" class="btn brand">Join the team</div>
    <div class="text">Check out the <a href="<%= website %>" class="link">Basset website</a> if you'd like to know more about visual regression testing</div>
<% include ../footer %>