<% include ../header %>
<h3>Activate your Basset account</h3>
<div class="text">Hi, <%= user.name %></div>
<div class="text">Thanks for signing up for Basset!</div>
<div class="text">Please confirm your email (<%= user.email %>) by clicking the button below.</div>
<a href="<%= link %>" class="btn brand">Confirm</div>
<% include ../footer %>